
.home-content{
    padding-left: 120px;
    padding-top: 117px;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    
    color: #062847;
}

.text-subtitle {
    margin-top: 24px;
    margin-left: 120px;
    font-size: 20px;
   
    color: #5A6774;

}